/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Qanelas';
  src: local('Qanelas'), url(./fonts/Qanelas-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: 500;
  src: local('Qanelas Semibold'), url(./fonts/Qanelas-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: bold;
  src: local('Qanelas Bold'), url(./fonts/Qanelas-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'icofont';
  src: local('icofont'), url(./fonts/icofont.woff2) format('woff2');
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 4.5px;

}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2dede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #646464;
}
